body
{	
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #F5E5B7;
}

.error
{
	color: red;
	font-size: 11px;
}

#top-sec
{
	margin: 10px;
}

#main-title
{
	font-size: 24px;
	margin: 20px;
}

#description
{
	font-family: 'Arial',sans-serif;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-style: italic;
}

#form-wrapper
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#new-or-old
{
	margin: 20px;
}

#new-template
{

}

#load-template
{

}

#bottom-sec
{
	display: none;
}

#loaded-template-name
{
	display: none;
}

.progress-label 
{
    float: left;
    margin-left: 50%;
    margin-top: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
 }