<html>
<head>
	<title>Alumni Outcomes</title>
	<link type="text/css" rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/humanity/jquery-ui.css" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
	<script src="/js/d3.v2.min.js"></script>
	<script src="/js/d3.layout.cloud.js"></script>
	<script src="/js/alumni.js"></script>
	<!-- The values filled in below pass flags to javascript that determine whether use has loaded a file or crawled a file -->
	<script language="javascript" type="text/javascript"> 
		window.onload=initAlumni({{ fileloaded }},{{ crawled }}); 
	</script>

</head>
<body>
	<div id='top-sec'>
		<div id='main-title'><a href='/'>Alumni Outcomes</a></div>
		<div id='description'>
			The purpose of this app is to determine what jobs alumni from a university eventually obtained.  The user uploads a list of names and specifies a school they graduated from, and the app uses the LinkedIn API to find matching profiles.
		</div>
		<div id='form-wrapper'>
			<div id="new-or-old">
				<!-- The default value on this radio button is usually new template, but will be old if returning from creating template -->
				<span><input type="radio" {{ newchecked }} {{ newdisable }} name="noo-radio" value="new" onchange="$('.new-or-load').toggle()"/> Start New Template </span>
				<!-- If there are no templates in the datastore, "todisable" will disable this option -->
				<span><input type="radio" {{ oldchecked }} {{ olddisable }} name="noo-radio" value="old" onchange="$('.new-or-load').toggle()"/> Load Template </span>
			</div>
			<!-- The form for creating a template or crawling a template is toggled with the "newhidden" and "oldhidden" variables -->
			<div id='new-template' class='new-or-load' {{ newhidden }} >
				<form id='new-template-form' action="/loadcontent" enctype="multipart/form-data" method="post">
					<!-- This hidden input variable tells alumni-outcomes.py:LoadContent to run the "loadfile" code -->
					<input type='hidden' name='func' value='loadfile' />
					<!-- This is populated if there was an error in the template values -->
					<div class='error'>{{ errormsg }}</div>
					<span>Input Job Name:</span><span><input type='text' name='template-name' /></span>
					<span>Input School Name:</span><span><input type='text' name='school-name' /></span>
					<span><input type='file' name='template-file' value='Choose File'></span>
					<!-- First check that everything entered is valid in alumni.js:validateTemplate, then post the form to alumni-outcomes.py:LoadContent -->
					<span><input type='button' name='create-button' value='Load File' onClick='validateTemplate()'/></span>
				</form>
			</div>
			<div id='load-template' class='new-or-load' {{ oldhidden }} >
				<form id='load-template-form' action='/initoauth' method="post">
					<select id='template-to-load' name='template-to-load'>
						<!-- This creates the list of existing templates, selecting the one that is being parsed or crawled -->
						{% for template in templates %}
						<option value={{ template.short }} {% if template.short==loadedtemplate %} selected="selected" {% endif %}> {{ template.name }}: {{ template.N }} alumni</option>
						{% endfor %}
					</select>
					<!-- This is disabled while parsing the input file. -->
					<!-- When enabled, this submits the selected template name to alumni-outcomes.py:InitOauth -->
					<input type="submit" name="crawl" value="Begin" {{ begindisabled }}/>
				</form>
			</div>
		</div>
	</div>
	<!-- This section displays the results once available -->
	<div id='bottom-sec'>
		<div id='progress-wrapper'>
			<div id="progressbar"><div class="progress-label">Loading...</div></div>
		</div>
		<div id='percent-match' class='d3vis'>
		</div>
		<div id='countries' class='d3vis'>
			<div id='countrypie'></div>
			<div id='countrylist'></div>
		</div>
		<div id='regions' class='d3vis'>
		</div>
		<div id='industries' class='d3vis'>
		</div>
		<div id='titles' class='d3vis'>
		</div>
	</div>
</body>
</html>
